*{
    font-family: verdana;
    font-size: 17px;
}

.unselect-btn{
    border: none;
    background: none;
    color: blue;
    text-decoration: underline;
}

.cancel-btn{
    margin-left: 35px;
    border-radius: 10px;
    border: 1px solid gray;
}

.select-option{
    padding: 0px 50px 0px 0px;
    border-radius: 5px;
}

.state-option{
    padding: 0px 180px 0px 0px;
}

.submit-btn{
    border-radius: 10px;
    border: 1px solid gray;
}